/data
data.json
dev_*.py
.vscode
.vscode/settings.json

# Python 虚拟环境和其他文件
__pycache__
.venv
/Lib
/Scripts
pyvenv.cfg

# Nonebot 的 .env 文件
.env

# Nonebot 的截图文件
/nonebot_*.svg

# 前端的 dist
/frontend

# IDEA
/.idea

# VSCode
/.vscode
/.vscode/settings.json

# 测试文件
/htmlcov
.coverage
.pytest_cache

# 隐藏代码
/secret
