nonebot2[fastapi]
nonebot-adapter-onebot
nonebot_plugin_alconna
pillow
opencv-python-headless
types-Pillow
requests
urllib3
SQLAlchemy
alembic
aiosqlite
pytz
freezegun
imagetext-py
packaging
selenium
pika
pika-stubs
pytest
coverage